<section>
  <div class="content-wrapper text-left">
    <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
      <h4>Guidelines for Proposal Submission</h4>
      <p>Following are the guidelines for proposal submission</p>
      <ul>
        <li>The proposal should have an objective with clear expectation for the audience.</li>
        <li>The Proposal description should be short and to the point.</li>
        <li>The proposal should have proper prerequisites like environment setup, library version.</li>
        <li>No proposal will be selected without a link to appropriate session content like presentation, pdf, code snippets etc.</li>
        <li>Proposal content should adhere to <a href="/cod/">code of conduct</a>.</li>
        <li>Proposal content shouldn't have a company name throughout the content. Mention of the employer is allowed only at the beginning of the content (presentation/pdf).</li>
        <li>Background image/wallpaper shouldn't contain company name/logos.</li>
        <li>For any questions, please write to <a href="mailto:contact@hydpy.org">contact@hydpy.org</a>.</li>
      </ul>

      <h4>Proposal Types</h4>
      <p>We have three kind of Proposals - General Talks, Lightning Talks and Workshops</p>
      <h5>General Talks</h5>
      <p>These are the traditional talk sessions scheduled during the first day of conference. They will be conducted on <b>Saturday, 7th Oct</b>. The length of these tracks are <b>45 minutes</b></p>
      <h5>Lightning Talks</h5>
      <p>These are short length talks that will be conducted on <b>Saturday, 7th Oct</b>. The time limit is <b>5 minutes</b>. But we can extend it depending on number of talks submitted.</p>
      <h5>Workshops</h5>
      <p>As with the talks, we are looking for Workshops that can grow this community at any level. We aim for Workshops that will advance Python, advance this community, and shape the future. Each tutorial session runs for 3 full hours plus a break for coffee. There is both a morning tutorial session and an afternoon tutorial session on <b>Sunday, 8th Oct</b> in the same venue that hosts the main conference.</p>

      <h4>Themes and Topics</h4>
      <p>These will be the themes and topics</p>
      <ul>
        <li>Core Python and Python 3 features</li>
        <li>Concurrent and Asynchronous programming in Python</li>
        <li>Data Science and Analysis</li>
        <li>Web Development</li>
        <li>Python and IOT</li>
        <li>Functional Programming</li>
        <li>Artificial Intelligence</li>
        <li>Continuous integration and Deployment</li>
        <li>Testing</li>
        <li>Scientific Computing</li>
        <li>Cloud computing with Python</li>
      </ul>

      <h4>Important Dates</h4>
      <ul>
        <li><b>TBA :</b> Deadline for Proposal Submission</li>
        <li><b>TBA :</b> Talk selection and announcement</li>
      </ul>
    </div>

    <p class="text-center"><a href="https://docs.google.com/forms/d/1XdbmtKyxtlL1Atb2YqMUEVylwJsFTbycufIXa5A36Sk" class="btn btn-lg btn-primary" target="_blank">SUBMIT PROPOSAL</a></p>
  </div>	
</section>
