.partners  {
    h3 {
        margin-bottom:20px;
    }
    h5 {
       margin-top: 30px;
    }
    .list-inline {
        margin-bottom: 15px;
        li {
            width: 40%;
            max-width: 180px;
            margin: 13px 5px;
            @media (max-width: 767px) {
                width: 40%;
                max-width: 160px;
            }
        }
    }
    img {
        max-width:100%;
        height:auto;
        width: 100%;
        transition: $base-transition;
        filter: grayscale(0);
        &:hover {
            filter: grayscale(1);
        }
    }
}